<form>
  <div class="content-wrapper">
    <div style="text-align:center">
      <h1>
        <p>
          <span style='color: blue'>C</span>
          <span style='color: red'>r</span>
          <span style='color: orange'>a</span>
          <span style='color: blue'>a</span>
          <span style='color: green'>s</span>
        </p>
      </h1>
    </div>
    <div>
      <input type="search" class="form-control" placeholder="Search...">
    </div>
    <div id="button-wrapper">
      <button class="submit" routerLink="/result">Search</button>
    </div>
  </div>


</form>
<router-outlet></router-outlet>
