<div class="detail-bar">
  {{selectedResult ? selectedResult?.displayName : 'The search query returned no results.'}}
  <button *ngIf="attributeNames.length > 0" mat-icon-button (click)="pdfExport()">
    <mat-icon>picture_as_pdf</mat-icon>
  </button>
</div>
<div #detailContent class="detail-container">
  <ul id="main-list" *ngFor="let attribute of attributeNames">
    <li>
      <span class="text-secondary">{{getRegular(attribute)}}:</span>
      {{selectedResult[attribute]}}
    </li>
  </ul>
</div>
