<form (submit)="onSearch(searchField.value)">
  <div class="content-wrapper">
    <div style="text-align:center">
      <h1>
        <p class="paragraphLogo paragraphLogoMain">
          <span style='color: blue'>C</span>
          <span style='color: red'>r</span>
          <span style='color: orange'>a</span>
          <span style='color: blue'>a</span>
          <span style='color: green'>s</span>
        </p>
      </h1>
    </div>
    <div class="input-group input-group-ex">
      <input [formControl]="searchField" type="text" class="form-control input-group-ex" name="searchString"
             placeholder="Search..." autofocus>
      <span class="input-group-btn">
              <button (click)="onSearch()" class="btn btn-primary input-group-ex" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
      </span>
    </div>

    <div class="text-center">
      <p class="loading-indicator" *ngIf="loading">Loading...</p>
    </div>
    <ul class="list-group list-group-hover">
      <li class="list-group-item" *ngFor="let result of results | async" (click)="onSearch(result.vorname + ' ' + result.nachname)">
        {{ result.vorname }} {{ result.nachname }}
      </li>
    </ul>

  </div>
</form>


