<form [formGroup]='startForm' (submit)="onSubmit()">
  <div class="content-wrapper">
    <h1>
      <p class="paragraphLogo paragraphLogoMain">
        <span style='color: blue'>C</span>
          <span style='color: red'>r</span>
          <span style='color: orange'>a</span>
          <span style='color: blue'>a</span>
          <span style='color: green'>s</span>
      </p>
    </h1>
    <mat-form-field class="form-input-field">
      <input matInput placeholder="Search..." [matAutocomplete]="auto" formControlName='userInput' autofocus>
      <mat-icon matSuffix (click)="onSubmit()">search</mat-icon>
    </mat-form-field>
    <mat-spinner *ngIf="loading" [diameter]="24"></mat-spinner>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let result of suggestions | async" [value]="result" (onSelectionChange)="onSelect(result)">
        <span>{{ result.vorname }}</span>
        <small> | name: {{result.nachname}}</small>
      </mat-option>
    </mat-autocomplete>
    <app-messages></app-messages>
  </div>
</form>


