input[type=text] {
  width: 550px;
}

.container-fluid-craas {
  margin-top: 10px;
  margin-bottom: 10px;
}

.paragraphLogoResult {
  font-size: 40px;
}

.result-count {
  margin-bottom: 20px;
  color: #808080;
  font-family: arial,sans-serif;
}
