.container-fluid-craas {
  margin-top: 15px;
  margin-bottom: 10px;
}

.paragraphLogoResult {
  font-size: 40px;
}

.result-count {
  margin-bottom: 20px;
  color: #808080;
  font-family: arial,sans-serif;
}

.roundBtnResult {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.searchBox {
  width: 600px;
}
