/* hide creepy checkbox */
::ng-deep.mat-pseudo-checkbox {
  display: none !important;
}

/* option text alignment */
.mat-list-option {
  text-align: left;
}

/* selection list style */
.mat-selection-list {
  max-height: 265px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
  padding-top: 0px;
  position: absolute;
  z-index: 999;
  width: 100%;
  background: white;
}

/* remove strange form-field padding */
.form-input-field {
  width: 100%;
  margin-bottom: -1.25em;
  marginTop: -1em;
}

.mat-list-base[dense] {
  padding-top: 0px;
}

