<form [formGroup]='searchForm' class="sync-container" (ngSubmit)="onSubmit()"
      (keydown.esc)="hideSuggestions()">
  <mat-form-field class="form-input-field">
    <input matInput #userInput placeholder="Search..."
           formControlName='userInput' (focus)="onFocusInput()" autocomplete="off">
    <mat-icon matSuffix *ngIf="userInput.value" (click)="userInput.value = ''; hideSuggestions()">close</mat-icon>
    <mat-icon matSuffix *ngIf="!userInput.value" (click)="onSubmit()">search</mat-icon>
  </mat-form-field>
  <mat-selection-list (selectionChange)="onSelect($event)" dense>
    <mat-list-option *ngFor="let suggestion of suggestions" [value]="suggestion" class="hide-mat-checkbox no-wrap">
      {{ suggestion.displayName }}
    </mat-list-option>
  </mat-selection-list>
</form>
