<div class="license-container ">
  <h3>The following data sources are used within the application</h3>
  <br>
  <a href="https://dfat.gov.au/international-relations/security/sanctions/Pages/consolidated-list.aspx">AUSTRALIA_GOVERMENT:</a>
  No legal Restriction on Source_Website: Data will be handled as Open Data/Open Government Data
  <br><br>
  <a href="https://data.europa.eu/euodp/de/data/dataset/consolidated-list-of-persons-groups-and-entities-subject-to-eu-financial-sanctions">EU:</a>
  Open Data/Open Government Data: According to Source_Website
  <br><br>
  <a href="https://www.seco.admin.ch/seco/de/home/Aussenwirtschaftspolitik_Wirtschaftliche_Zusammenarbeit/Wirtschaftsbeziehungen/exportkontrollen-und-sanktionen/sanktionen-embargos.html">SWITZERLAND_SECO:</a>
  No legal Restriction on Source_Website: Data will be handled as Open Data/Open Government Data
  <br><br>
  <a href="https://www.gov.uk/government/publications/financial-sanctions-consolidated-list-of-targets/consolidated-list-of-targets">UK_GOVERNMENT:</a>
  Open Data/Open Government Data: All content is available under the Open Government Licence v3.0
  <br>
  <a href="https://www.un.org/sc/suborg/en/sanctions/un-sc-consolidated-list">UN:</a>
  Copyright © United Nations - All rights reserved: Data are provided for Users information and non-commercial use
  <br><br>
  <a href="https://www.treasury.gov/resource-center/sanctions/SDN-List/Pages/sdn_data.aspx">US_TREASURY:</a>
  No legal Restriction on Source_Website: Data will be handled as Open Data/Open Government Data
  <br><br>
</div>
